body{
 background-image:url(https://raw.githubusercontent.com/shaiksha7/Digital-clock/main/images/image%20(39).png);
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 margin:0;
}
#clock-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#clock{
    font-family:monospace;
    font-size:6.5rem;
    font-weight: bold;
    text-align:center;
    color:white;
    backdrop-filter: blur(2px);
    background-color:rgb(224, 239, 253,0.1);
    width:100%;
}
   
